<div class="slideWrap">

	<div class="slideContentWrap">
		<h2 style="font-size: 4em;">References</h2>
		<ul style="font-size: 2em; margin-top: 1em;">
			<li ng-repeat="reference in references">{{reference}}</li>
		</ul>
	</div>

	<div class="slideFooter">
		<div ng-hide="lastPageFlg">
			<nav>
				<ul class="pager">
					<li ng-hide="previousPageId === false" class="previous"><a href="./#/{{previousPageId}}"> < prev </a></li>
					<li ng-hide="nextPageId === false" class="next"><a href="./#/{{nextPageId}}"> next > </a></li>
				</ul>
			</nav>
		</div>
		<div ng-show="lastPageFlg">
			<a class="btn btn-default" href="./">TOP</a>
		</div>
		<div class="pageCount">
			{{id}} / {{totalPage}}
		</div>
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{ id / totalPage * 100}}" aria-valuemin="0" aria-valuemax="100" style="width: {{ id / totalPage * 100}}%;">
			</div>
		</div>
	</div>
</div>
