
		<!-- Jquery -->
		<section style="border: 0.1em solid #0099FF; padding: 0 1em 1em 1em;">
			<h2>Jquery</h2>

			<!-- toggleButton -->
			<button class="toggleBtn btn btn-primary">BUTTON</button>
			<div class="panel panel-default" style="margin-top: 2em; display:none;">
				<div class="panel-heading">Title</div>
				<div class="panel-body">Content</div>
			</div>
		</section>


		<!-- Angular -->
		<section style="border: 0.1em solid #0099FF; padding: 0 1em 1em 1em; margin-top: 3em;">
			<h2>Angular</h2>

			<!-- toggleButton -->
			<button ng-click="showPanel()" class="btn btn-primary">BUTTON</button>
			<div ng-show="panel">
				<div class="panel panel-default" style="margin-top: 2em;">
					<div class="panel-heading">Title</div>
					<div class="panel-body">Content</div>
				</div>
			</div>


			<!-- data binding -->
			<section style="margin-top: 2em; border-top: 0.1em solid #000;">
				<h3>[two-way data binding]</h3>
				<input type="text" ng-model="user">
				<p style="font-size: 2em;">Hello, {{user}}</p>
			</section>

{{id}}
			<!-- ng-repeat -->
<!--
			<section style="margin-top: 2em; border-top: 0.1em solid #000;">
				<h3>[advanced template]</h3>
				<ul>
					<li ng-repeat="item in [1,2,3]">
						{{item}}
					</li>
				</ul>
			</section>
-->

			<!-- GreetingController -->
			<section ng-controller="GreetingController" style="margin-top: 2em; border-top: 0.1em solid #000;">
				<h3>[controller]</h3>
				<p style="font-size: 2em;">
					{{greeting}}
				</p>
			</section>
		</section>

		<div>
			{{id}} / {{totalPage}}
		</div>


		<script>
		// Jquery
		$(function() {
			$('.toggleBtn').click(function() {
				$(this).next().toggle();
			});
		});

		</script>
