.lessonroom_wrap {
  margin: 0 auto;
  min-width: 1024px;
  padding-bottom: 5px;
}

.preparation_wrap {
  background: $gray-color-light;
}

.preparation_contents {
  background: $light-color;
  margin: 0 auto;
  padding: 10px 20px;
  width: 640px;
}