/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 62.5%;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/*
 * common
 */
@media screen and (min-width : 768px){
    html{ font-size : 87.5%; }
}
 
@media screen and (min-width : 1024px) {
    html{ font-size : 100% };
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro  W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", 'LucidaGrande', Verdana, Arial, sans-serif;
    -webkit-text-size-adjust: 100%;
    font-size: 1.4rem; 
    line-height: 1.4rem;
    color: #666;
}

a {
text-decoration: none;
}


img {
    max-width: 100%;
    height: auto;
}

input
select
img {
    vertical-align: middle;
}

#container {
    margin: 3rem 2rem;
}

h1 {
    padding: 1rem 2rem;
    margin: 1rem 2rem;
    font-size: 2rem;
    font-weight: normal;
    border: 0.3rem solid #AAA;
    display: inline-block;
    letter-spacing: 0.1rem;
    font-weight: bold;
}

h2 {
    font-size: 1.6rem;
    font-weight: bold;
    padding-bottom: 1rem;
    margin-bottom: 1.6rem;
    border-bottom: 0.1rem solid #DDD;
}

.clearfix:after {
   content: ".";
   display: block;
   clear: both;
   height: 0;
   visibility: hidden;
}

.clearfix { display: inline-block; }
/* exlude MacIE5 \*/
* html .clearfix { height: 1% }

/*
 * header
 */
#header {
    margin: 1rem 0 2rem;
}

.Timer {
	border-top: 0.1rem solid #CCC;
	margin-top: 3rem;
	padding-top: 3rem;
	text-align: center;
}

#timerTitle {
	font-size: 2rem;
	font-weight: bold;
}

.Timer .subTitle {
	font-size: 1.4rem;
	font-weight: bold;
}

#TimeLeft {
	font-size: 2rem;
	font-weight: bold;
	margin-top: 1.4rem;
}

footer {
    border-top: 0.1rem solid #CCC;
    padding: 1rem 2rem;
    margin: 2rem 0;
    font-size: 1rem;
    text-align: right;
    color: #999;
}


/* ==========================================================================
   #page-check_list
   ========================================================================== */

#page-check_list #topTitle {
  text-align: center;
  display: block;
}

#page-check_list ul.list {
  margin: 1rem 0 2rem;
  border-top: 0.1rem solid #CCC;
  border-bottom: 0.1rem solid #CCC;
  list-style-type: decimal-leading-zero;
}

#page-check_list ul.list li {
  margin: 1.2rem 0.6rem;
  font-size: 1.4rem;
  color: #666;
}

#page-check_list #listTitle {
  margin-top: 3rem;
  color: #000;
  font-size: 1.8rem;
}

#page-check_list ul.list li:first-child {
  border: 0;
}

#page-check_list .help-block {
  font-size: 0.9rem;
  color: red;
}

/* ==========================================================================
   #page-timer
   ========================================================================== */



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
